#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root > div {
  display: flex;
  gap: 3rem;
}

#sidesDiv,
#pizzaDiv {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#sidesDiv > div {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

li {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px; */
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  list-style: '\1F355';
  width: 200px;
  text-align: left;
}

#formDiv {
  width: 75%;
}

#formDiv > div {
  /* display: flex; */
  margin-top: 10px;
  /* justify-content: space-between; */
}

form {
  display: flex;
  gap: 1rem;
}

input {
  float:right;
  width: 200px;
}

label {
  float:left;
}